@page "/counter"
@using GBF.Web.Model;

<PageTitle>Teste DatePicker</PageTitle>

<div>
    <EditForm Model="@calendario">
        <InputSelect @bind-Value="@calendario.ano">
            <option selected disabled>Selecione o Exercício</option>
           @foreach (var item in anos)
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
    </EditForm>
</div>
@calendario.ano

@code {
    private int currentCount = 0;
    private Calendario calendario = new();
    private List<int> anos = new();


    protected override void OnInitialized()
    {
        calendario.data = DateTime.Now;
        string dataAtual = calendario.data.Year.ToString();


        for (int i = 2013; i < int.Parse(dataAtual); i++)
        {
            anos.Add(i);
        }
    }
}
